{% extends 'base.html.twig' %}

{% block title %}Edition du mot de passe
{{ app.user.pseudo }}
{% endblock %}

{% block flexBox %}{% endblock %}

{% block pagetitle %}{% endblock %}

{% block body %}

{% include('user/_userBanner.html.twig') %}

<section class="compte-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header bg-transparent"><h4>Editez votre mot de passe {{ app.user.pseudo }}</h4></div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-5">
								{{ form_start(resetForm) }}
								{{ form_row(resetForm.plainPassword) }}

								<button class="btn btn-primary">Modifier mon mot de passe</button>
								{{ form_end(resetForm) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
